.primary-button {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  border-radius: 0px;
  padding: 6px 20px;
  :hover {
    border-radius: 7px;
    border: 1px solid #000;
    font-size: 16px;
    background-color: #000000;
    color: #ffffff;
  }
}
.secondary-button {
  border-radius: 0px;
  border: 1px solid #000;
  font-size: 16px;
}
