.donation {
  .meal {
    .img-holder {
      background-image: url("../../assets/images/meal-donate.png");
    }
  }
  .volunteer {
    .img-holder {
      background-image: url("../../assets/images/volunteer.png");
    }
  }
  .money {
    .img-holder {
      background-image: url("../../assets/images/money-donate.png");
    }
  }
}
