.team-card {
  max-width: 200px;
  margin: 0 auto;
  .img-holder {
    img {
      width: 100%;
    }
  }
  .info {
    padding: 12px 10px;
    text-align: center;
    position: absolute;
    width: 93%;
    bottom: -39px;
    right: 7px;
    background-color: #fff;
  }
}
