.contact-page {
  form {
    padding: 55px;
    max-width: 450px;
    margin: 0 auto;
    input {
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 0px;
      margin-bottom: 20px;
    }
  }
}
