.wide-card {
  padding: 30px;
  max-width: 830px;
  margin: 0 auto;
  .image-holder {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    img {
      width: 100%;
    }
  }
}
