.header {
  padding: 10px 0px;
  background-color: #fff;
  z-index: 2;
  .menu-content {
    .menu-list {
      list-style: none;
      margin: 0px;
      a {
        padding: 10px 20px;
        font-size: $bodyFont;
        font-weight: 500;
        color: #000000;
      }
      .active {
        border-bottom: 2px solid $primaryColor;
      }
    }
  }
  transition: top 0.5s ease-in-out;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}
