.header {
  padding: 10px 0px;
  .menu-content {
    .menu-list {
      list-style: none;
      margin: 0px;
      a {
        padding: 10px 20px;
        font-size: $bodyFont;
        font-weight: 500;
        color: #000000;
      }
    }
  }
}
