.singlepage-data {
  max-width: 950px;
  margin: 0 auto;
  h2 {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 20px;
  }
  .event-info {
    h2 {
      span {
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
}
